body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#calculator {
  font-family: Arial, sans-serif;
  background-color: black;
  border-radius: 20px;
  max-width: 450px;
  height: 760px;
  overflow: hidden;
}

#display {
  width: 100%;
  text-align: left;
  padding-top: 100px;
  padding-left: 25px;
  font-size: 5rem;
  border: none;
  background-color: black;
  color: white;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding-left: 25px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 30px;
  grid-column-gap: 1cap;
}

button {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: white;
  font-size: 2.5rem;
  cursor: pointer;
}

button:hover {
  background-color: hsl(0, 0%, 40%);
}

button:active {
  background-color: hsl(0, 0%, 50%);
}

#zeroButton {
  width: 185px;
  grid-column-end: span 2;
  text-align: left;
  padding-left: 30px;
}

.operators {
  background-color: hsl(39, 100%, 50%);
}

.operators:hover {
  background-color: hsl(39, 100%, 60%);
}

.operators:active {
  background-color: hsl(39, 100%, 70%);
}

.extraButtons {
  background-color: hsl(0, 0%, 60%);
}

.extraButtons:hover {
  background-color: hsl(0, 0%, 70%);
}

.extraButtons:active {
  background-color: hsl(0, 0%, 80%);
}
